{% extends 'main/base.html' %}
{% block title %}
Attendance
{% endblock title %}
{% block description %}attendance page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
{% load static %}
<div class="row container mt-5">
    <table class="col table table-striped neupm">
        <tbody>
            <tr>
                <td scope="row">Date: <b>{% now "d/m/Y" %}</b></td>
                <td scope="row">Name: <b>{{ user.get_full_name }}</b></td>
                <td scope="row">Enroll: <b>{{user.username}}</b></td>
            </tr>
            <tr>
                <td scope="row">Branch: <b>{{ user.student.branch }}</b></td>
                <td scope="row">Sem: <b>{{ user.student.semester }}</b></td>
                <td scope="row">Year: <b>{{ user.student.year }}</b></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row container-fluid mt-2">

    <div class="col-lg">
        <div class="row">
            <div class="col-lg mb-3 neupm">

                <div class="d-flex justify-content-around p-2">

                    <div class="p-2">
                        <label for="sem">Select semester:</label>
                        <select name="sem" id="sem">
                            {% for s in sem %}
                            <option value="{{s}}" {% if s is sem|last %}selected {% endif %}>{{s}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="p-2">
                        <label for="month">Select month:</label>

                        <select name="month" id="month">
                            {% for m in month %}
                            <option value="{{ forloop.counter }}" {% if m is month|last %}selected {% endif %}>{{m}}
                            </option>
                            {% endfor %}

                        </select>
                    </div>

                    <button class="btn btn-primary" @click="store.state.attendance.fetch">Fetch</button>
                </div>

            </div>
        </div>
        <div v-if="!store.state.attendance.show">
            <p>Attendance not found</p>
        </div>
        <div class="row" @mounted="store.state.attendance.fetch">
            <table class="table table-striped neupm" v-if="store.state.attendance.show">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="table_data_body">
                    <tr>
                        <th class="stuAttSum" scope="row">
                            <b>Days: </b>
                            <b v-html="store.state.attendance.data.present+store.state.attendance.data.absent">
                            </b>
                        </th>
                        <td class="stuAttSum">
                            <b>Present: </b>
                            <b v-html="store.state.attendance.data.present">
                            </b>
                        </td>

                    </tr>
                    <tr v-for="(a, i) in store.state.attendance.data.attendance">
                        <th scope="row" v-html="i"></th>
                        <td v-html="a ? 'Present' : 'Absent'"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-sm-3 mt-5">
        <div class="chart-block neupm2" v-if="store.state.attendance.show">
            <canvas id="attendanceChart" title="Month Attendance" type="doughnut"
            labels="Presents, Absents"
            data="3, 5"></canvas>
            <div class="d-flex justify-content-evenly flex-wrap">
                <div class="text-center"><b v-html="store.state.attendance.data.percentage">Percentage</b><i>%</i></div>
                <div> <i>Presents: </i> <b v-html="store.state.attendance.data.present"></b></div>
                <div> <i>Absents: </i> <b v-html="store.state.attendance.data.absent"></b></div>
            </div>
        </div>

    </div>
</div>
<!-- Body block End -->
<script src="{% static 'js/addons.js' %}"></script>

{% endblock body %}
