{% extends 'main/base.html' %}
{% block title %}
Attendance
{% endblock title %}
{% block description %}attendance page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
{% load static %}
     <div class="row container mt-5">
                    <table class="col table table-striped neupm">
                        <tbody>
                            <tr>
                                <td scope="row">Date: <b>{% now "d/m/Y" %}</b></td>
                                <td scope="row">Name: <b>{{ user.get_full_name }}</b></td>
                                <td scope="row">Enroll: <b>{{user.username}}</b></td>
                            </tr>
                            <tr>
                                <td scope="row">Branch: <b>{{ user.student.branch }}</b></td>
                                <td scope="row">Sem: <b>{{ user.student.semester }}</b></td>
                                <td scope="row">Year: <b>{{ user.student.year }}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row container-fluid mt-2">

                    <div class="col-lg">
                        <div class="row">
                            <div class="col m-3 neupm">
                                <label for="sem">Choose sem:</label>

                                <select name="sem" id="sem">
                                    {% for s in sem %}
                                        <option value="{{s}}" {% if s is sem|last %}selected {% endif %}>{{s}}</option>

                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col m-3 neupm">
                                <label for="month">Choose month:</label>
    
                                <select name="month" id="month">
                                    {% for m in month %}
                                        <option value="{{m}}" {% if m is month|last %}selected {% endif %}>{{m}}</option>

                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-striped neupm">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>01/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>02/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>03/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>04/05/2021</td>
                                        <td>Absent</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>05/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>06/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>07/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>08/05/2021</td>
                                        <td>Absent</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>09/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>10/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>11/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>12/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">13</th>
                                        <td>13/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">14</th>
                                        <td>14/05/2021</td>
                                        <td>Absent</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">15</th>
                                        <td>15/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    {% comment %}<tr>
                                        <th scope="row">16</th>
                                        <td>16/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">17</th>
                                        <td>17/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">18</th>
                                        <td>18/05/2021</td>
                                        <td>Absent</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">19</th>
                                        <td>19/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">20</th>
                                        <td>20/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">21</th>
                                        <td>21/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">22</th>
                                        <td>22/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">23</th>
                                        <td>23/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">24</th>
                                        <td>24/05/2021</td>
                                        <td>Absent</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">25</th>
                                        <td>25/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">26</th>
                                        <td>26/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">27</th>
                                        <td>27/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">28</th>
                                        <td>28/05/2021</td>
                                        <td>Absent</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">29</th>
                                        <td>29/05/2021</td>
                                        <td>Present</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">30</th>
                                        <td>30/05/2021</td>
                                        <td>Present</td>
                                    </tr>{% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="col-2"></div> -->

                    <div class="col-sm-3 mt-5">
                        <div class="cartDiv2 neupm">
                            <canvas id="marksChart3" onmouseover="hoverFeed('Chart representation of your attendance')" onmouseout="hoverFeed('')"></canvas>
                        </div>

                    </div>
                </div>
                <div id="hoverFeed" class="neupm">Details on hover</div>

                <script src="{% static 'js/addons.js' %}"></script>
                <script>
                    makeChart("doughnut", "marksChart3", ['Present', 'Absent'], '', [25, 25]);
                </script>
                <!-- Body block End -->

{% endblock body %}
