{% extends 'main/base.html' %}
{% block title %}
view {{dataName}}es
{% endblock title %}
{% block description %}view {{dataName}}es{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->

<div class="container mt-5">
    <h4 class="text-center alert alert-info">{{dataName|title}}es</h4>
    <div class="d-flex justify-content-end">
        {% if not user.profile.is_student %}
        <a href="/staff/{{dataName}}s/add" class="btn btnPrAnim003 border border-primary">Add {{dataName}}</a>
        {% endif %}
    </div>

    <div class="list-group">
        {% for d in data %}
        <div class="list-group-item flex-column align-items-start mt-2 container neupm"
            style="height: 6rem; overflow: hidden;">
            <div class="d-flex w-100 justify-content-between">
                <b class="mb-1"> <br><small>{{ d.book_name }}</small></b>
                {% if not user.profile.is_student %}

                <a href="/{{user.profile.type_url}}/{{dataName}}es/{{ d.id }}/">Edit</a>
                {% endif %}
            </div>
            <div class="d-flex w-100 justify-content-between">
                <small class="text-muted">{{ d.issue_date }}</small>
                <!-- <small class="text-muted">Join class</small> -->
                <button class="btn btn-primary">Join</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
