{% extends 'main/base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block homeActive %}active{% endblock homeActive %}
{% block description %}blog page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<div class="cartDiv neupm">
    <canvas id="attendanceChart"></canvas>

</div>

<div class="cartDiv neupm">
    <canvas id="marksChart"></canvas>
</div>

<div class="cartDiv neupm">
    <canvas id="attendanceChart2"></canvas>

</div>

<div class="cartDiv neupm">
    <canvas id="marksChart2"></canvas>
</div>

<!-- <div class="cartDiv neupm">
                                <canvas id="lineChart1"></canvas>
                            </div> -->
<script>

    function makeChart(type, id, label, data) {
        var ctx = document.getElementById(id).getContext('2d');
        var attendanceChart = new Chart(ctx, {
            // type: 'pie',
            type: type,
            data: {
                labels: label,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    makeChart("line", "attendanceChart", ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], [12, 21, 33, 5, 2, 12]);
    makeChart("bar", "marksChart", ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Green', 'Purple'], [12, 21, 33, 5, 2, 12, 45, 16]);

    makeChart("line", "attendanceChart2", ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], [12, 21, 33, 5, 2, 12]);
    makeChart("doughnut", "marksChart2", ['Red', ''], [12, 100]);


</script>
{% endblock body %}
