{% extends 'main/base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block homeActive %}active{% endblock homeActive %}
{% block description %}blog page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
{% load static %}
<div class="cartDiv neupm">
    <canvas id="attendanceChart"></canvas>

</div>

<div class="cartDiv neupm">
    <canvas id="marksChart"></canvas>
</div>

<div class="cartDiv neupm">
    <canvas id="attendanceChart2"></canvas>

</div>

<div class="cartDiv neupm">
    <canvas id="marksChart2"></canvas>
</div>

<script src="{% static 'js/addons.js' %}"></script>
<script>
    makeChart("line", "attendanceChart", ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], '', [12, 21, 33, 5, 2, 12]);
    makeChart("bar", "marksChart", ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Green', 'Purple'], '', [12, 21, 33, 5, 2, 12, 45, 16]);

    makeChart("line", "attendanceChart2", ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], '', [12, 21, 33, 5, 2, 12]);
    makeChart("doughnut", "marksChart2", ['Red', ''], '', [12, 100]);
</script>
{% endblock body %}
