{% extends 'main/base.html' %}
{% block title %}
Marks
{% endblock title %}
{% block description %}Marks page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
{% load static %}
<div class="row container mt-5">
    <table class="col table table-striped neupm2">
        <tbody>
            <tr>
                <td scope="row">Name: <b>{{ user.get_full_name }}</b></td>
                <td scope="row">Enroll: <b>{{user.username}}</b></td>
            </tr>
            <tr>
                <td scope="row">Sem: <b>{{ user.student.semester }}</b></td>
                <td scope="row">Year: <b>{{ user.student.year }}</b></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row container mt-2">

    <div class="col-lg">
        <div class="row">
            <table class="table table-striped neupm2">
                <thead>
                    <tr>
                        <th scope="col">Sem</th>
                        <th scope="col">Result</th>
                        <th scope="col">SGPA</th>
                        <th scope="col">CGPA</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="table_data_body">
                    {% for key, mark in request.marks.items %}
                    <tr>
                        <th scope="row">{{key}}</th>
                        <td>{{ mark.result }}</td>
                        <td>{{ mark.sgpa }}</td>
                        <td>{{ mark.cgpa }}</td>
                        {% if mark.result %}
                        <td><a href="?sem={{key}}&req=view">
                                <button class="btn btn-secondary pt-0 pb-0">view</button>
                            </a></td>
                        {%else%}
                        <td><a href="?sem={{key}}&req=add">
                                <button class="btn btn-secondary pt-0 pb-0">add</button>
                            </a></td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="container-sm">
        <h4 class="text-center alert alert-info">Prediction: {{request.prediction}}</h4>
    </div>



</div>
<!-- Body block End -->

{% endblock body %}
