{% extends 'main/base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block description %}Profile{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
{% load static %}
<div class="container mt-5 neupm p-2">
    <h4 class="text-center alert alert-info"> Student Profile</h4>

    <div class="row">
        <div class="container mt-1">
            <div class="card text-center ">
            </div>
            <div class="card-body-center">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <img src="{% static 'img/logo.png' %}" alt="profile pic" class="round-circle" width="150">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-1">
        <div class="card mb-3 content neupm">
            <div class="card-body">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Full Name</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.first_name }} {{ student.last_name }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Enrollment</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.user }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Student ID</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.student_id }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Email</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.email }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Semester</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.semester }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Year</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.year }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Batch year</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.batch_year }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Gender</p>
                        </div>
                        <div class="col-md-9">
                            {{ student.gender }}
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Date Of Birth</p>
                        </div>
                        {% csrf_token %}
                        <div class="col-md-9">
                            <input type="datetime" class="border-0" name="date_of_birth"
                                value="{{ student.date_of_birth|date:'d/m/Y' }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Fathers Name</p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control border-0" name="father_name"
                                value="{{ student.father_name }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Mobile No.</p>
                        </div>
                        <div class="col-md-9">
                            <input type="tel" class="form-control border-0" name="mobile_no"
                                value="{{ student.mobile_no }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">

                    <div class="row">
                        <div class="col-md-3">
                            <p>Fathers Mobile No.</p>
                        </div>
                        <div class="col-md-9">
                            <input type="tel" class="form-control border-0" name="father_mobile_no"
                                value="{{ student.father_mobile_no }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Current Address</p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control border-0" name="current_address"
                                value="{{ student.current_address }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Permanent Address</p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control border-0" name="permanent_address"
                                value="{{ student.permanent_address }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">


                    <div class="row">
                        <div class="col-md-3">
                            <p>Guardian Name</p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control border-0" name="guardian_name"
                                value="{{ student.guardian_name }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Guardian Mobile No.</p>
                        </div>
                        <div class="col-md-9">
                            <input type="tel" class="form-control border-0" name="guardian_mobile_no"
                                value="{{ student.guardian_mobile_no }}" disabled>
                        </div>
                    </div>
                    <hr class="m-1">
                    <button type="submit" class="btn btnPrAnim border border-primary" id="submit-btn"
                        disabled>Update</button>
                    {% if user.student == student %}
                    <button type="button" class="btn btnPrAnim border border-primary align-self-center"
                        id="update-btn">EDIT</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% if user.student == student %}
<script>
    update_btn = document.querySelector("#update-btn")
    update_btn.onclick =
        function dataUpdate() {
            allInput = document.querySelectorAll(".form-control")
            for (let idx = 0; idx < allInput.length; idx++) {
                if (allInput[idx].disabled == true)
                    allInput[idx].disabled = false
                else
                    allInput[idx].disabled = true

                allInput[idx].classList.toggle("border-0")
            }

            submit_btn = document.querySelector("#submit-btn");
            submit_btn.disabled = submit_btn.disabled == true ? false : true;
            if (update_btn.innerText == "EDIT")
                update_btn.innerText = "CANCEL"
            else
                update_btn.innerText = "EDIT"
        }
</script>
{% endif %}
{% endblock body %}
