{% extends 'main/base.html' %}
{% block title %}
Student
{% endblock title %}
{% block body %}
{% block message %}{% endblock message %}

<div class="row" style="position:relative; width:100%">
    <div class="col-sm-10 mt-5">
        <h4 class="text-center alert alert-info">Student Registration</h4>
        <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Send" />
        </form>
    </div>
</div>
{% endblock body %}
