<!doctype html>
<html lang="en">
{% load static %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock description %}">
        {% load static %}
        <!-- main bst CSS -->
        <link rel="stylesheet" href="{% static 'css/b.css'%}">


        <title>{% block title %}

            {% endblock title %} | AcadEval</title>
    </head>


    <body>
        <div id="inBody">

        <script src="{% static 'js/jquery.js'%}"></script>
        
        <script src="{% static 'js/fontawesome.js'%}"></script>
        
        <!-- custom css by Pcoder -->
        <link href="{% static 'css/style.css'%}" rel="stylesheet">

        <!-- dark mode css -->
        <link href="{% static 'css/darkmode.css'%}" rel="stylesheet">

        <!-- satisfy font link -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        {% if user.is_authenticated %}

            {% include 'main/containers/sidebar.html' %}
            {% else %}
            <style>
                main,
                #content1,
                #content2,
                #content3,
                footer {
                    margin: 0;
                }
            </style>
        {% endif %}
        {% include 'main/containers/navbar.html' %}
        <main>
        
        
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 mv-0" role="alert"
                style="z-index: 3; box-shadow: rgba(0, 0, 0, 0.3) 0px 13px 9px 0px; width: 100%;">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <script src="/static/js/chart.js"></script>
        
            {% block body %}
        
            {% endblock body %}
        
        </main>
        <!-- Dark mode toggle button -->
        <div id="dark-toggle" class="floatlb" onmouseover="hoverFeed('toggle dark/light theme')" onmouseout="hoverFeed('')">
            <i class="indicator"></i>
            <b></b>
        </div>
        
        {% comment %}
        <div id="content1">Content1</div>
        <div id="content2">Content2</div>
        <div id="content3">Content3</div>
        {% endcomment %}
        
        {% include 'main/containers/footer.html' %}

        </div>
        
        <!-- bootstrap JavaScript -->
        <script src="{% static 'js/acadEval.js' %}"></script>
        <script src="{% static 'js/b.js' %}"></script>

    </body>

</html>
