{% extends 'main/base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block contactActive %}active{% endblock contactActive %}
{% block description %}blog page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}

<div class="container-fluid">
    <div class="mt-5 container-fluid neupm p-2">
        <h4 class="text-center alert alert-info">Contact Us</h4>
        <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Send" />
        </form>
    </div>
</div>
{% endblock body %}
