{% extends 'main/base.html' %}
{% block title %}
help
{% endblock title %}
{% block helpActive %}active{% endblock helpActive %}
{% block description %}blog page{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
<link rel="stylesheet" href="/static/css/help.css">
<div class="container">
    <div class="card">
        <div class="inner-box">
            <div class="card-front"></div>
            <div class="card-back"></div>
            <div class="contactForm p-4">
                <form>
                    <h2>Help & Support</h2>

                    <div class="box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p> +91 755 2751671,2751679 180030005303 (Tollfree) </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p> admission@technocratsgroup.edu.in </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
