{% extends 'main/base.html' %}
{% block title %}
Home
{% endblock title %}

{% block description %}home page{% endblock description %}

{% block homeActive %}active{% endblock homeActive %}
{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->

{% load static %}
<div class='sd-ripple-background'>
    <span class='sd-circle'></span>
    <span class='sd-circle'></span>
    <span class='sd-circle'></span>
    <span class='sd-circle'></span>
    <span class='sd-circle'></span>
</div>
<div class="d-flex justify-content-center">
    <div class="container-fluid sd">
        <div class="sdd">
            <img src="{% static 'img/acadeval.gif' %}" alt="acadEval's animated gif">
            {% if not user.is_authenticated %}
            <a href="/login/"><button class="mt-3">Login</button></a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock body %}
