{% extends 'main/base.html' %}
{% block title %}
Issues
{% endblock title %}
{% block description %}Issue page{% endblock description %}

{% block body %}

<div class="text-center text-danger mt-5">
  <div style="max-height: 1000px; font-family: Cursive; font-size: 40pt">

    <marquee
      style="position: relative; left: 122px; top: 0px; height: 397px"
      scrollamount="6"
      direction="down"
      >Website is Under Construction
    </marquee>

  </div>
</div>
{% endblock body %}
