.loginBg {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.loginBg .container-fluid {
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    background: var(--light-bg);
}

#inBody.darkmode .loginBg .container-fluid {
    background: var(--dark-bg);
    color: #ececec;
}

.loginBg form {
    max-width: 800px;
    max-height: 50vh;
}
