:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --txt-color: #494949;
    --light-bg: linear-gradient(#f5f1f1, #ececec);
    --light-bg-rev: linear-gradient(#ececec, #f5f1f1);
    --page-height: 1500px;
    --main-bg: var(--light-bg);

    font-size: 16px;
    font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  overflow: hidden;
}
footer {
      margin-left: 5rem;
    }
    
    #content1,
    #content2,
    #content3 {
      margin-left: 5rem;
      padding: 0.2rem;
    }


.sidebar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  top: 5%;
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#sidebar .sidebar-item  a:hover {
    /* background: #ffffff10; */
    transition: 1s ease left;
    animation: color-rotate 1s infinite;
    animation-direction: alternate;
}
@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
        letter-spacing: 0.2rem;
    }
    to {
        filter: hue-rotate(360deg);
        /* letter-spacing: 0.2rem; */
    }
}

.sidebar-item:last-child {
  margin-top: auto;
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.sidebar-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.sidebar-link .icon {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.sidebar-link .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  /* letter-spacing: 0.3ch; */
}

.sidebar-link .logo .icon {
  /* transform: rotate(0deg); */
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
/* 
.sidebar:hover .logo .icon {
  transform: rotateY(180deg);
} */


  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  
  .sidebar:hover {
    width: 16rem;
  }
    
  .sidebar:hover .sidebar-item {
  width: 100%;
}

  
  .sidebar:hover .link-text {
    display: inline;
  }
  
  .sidebar:hover .logo .icon
  {
    margin-left: 11rem;
  }
  
  .sidebar:hover .logo-text
  {
    left: 0px;
  }

  .dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}


.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.navpad {
  padding-left: 7rem;
}
/* Small screens */
@media only screen and (max-width: 600px) {
    .navpad {
      padding-left: 5.2rem;
    }
    .sidebar {
      width: 3rem;
    }
    main,
    footer {
      margin-left: 2.7rem;
    }
    
    #content1,
    #content2,
    #content3 {
      margin-left: 3rem;
      padding: 0.2rem;
    }

  .sidebar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    transition: var(--transition-speed);
  }
  
  .sidebar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    margin-left: 0.1rem;
  }
  
  .sidebar-link .icon {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
  }
  
}

.neupm {
        -webkit-appearance: none;
        /* border-radius: 21px; */
    background: #ffffff;
    border-radius: 10px;
    box-shadow:  6px 6px 12px #ededed,
                -6px -6px 12px #ededed;
    }

.cartDiv {
    margin: 0.2rem;
    position: relative;
    padding: 1.5rem;
}
/* user avatar css Start */
@media only screen and (min-width: 576px) {
    
    #userAvatarDiv {
        position: absolute;
        right: 1rem;
    }
    
}
#userAvatarImg {
    width: 100%;
    height: 100%;
}

#userAvatarDiv #userAvatar a {
    border-radius: 50%;
}

#userAvatarDiv #userAvatar {
    width: 2.7rem;
    height: 2.7rem;
    border: 2px solid white;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  24px 24px 41px #9f9f9f,
    -24px -24px 41px #ffffff;
}
/* user avatar css End */

/* Responsive design End */
main {
    background: var(--main-bg);
    box-sizing: border-box;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 35vh;
}
/* bootstrap css change - for big devices */
div.alert {
  max-height: 3.5rem;
}
@media screen and (max-width: 480px) {
  .cartDiv {
    width: 80vw;
    margin: 0;
  }
  div.alert {
    font-size: 0.8rem;
    max-height: 3rem;
    padding: 0.5rem 1rem;
  }
  .alert-dismissible .btn-close {
    padding: 1rem;
  }
}
.sidebar-sidebar .logo-text {
  padding-left: 1rem;
}
#inBody footer {
  background: #ececec;
  color: #000;
}
#inBody footer a {
  border-color: #000;
  color: #000;
}
/* for center sidebar user img */
#sidebar > ul > li.logo > a > div img {
  position: relative;
  left: -0.6rem;
}
.btnPrAnim003 {
border: none;
color: #5c768d !important;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 100ms ease 0s;
}
.btnPrAnim003:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 100ms ease 0s;
}
/* for hover feedback */
#hoverFeed {
    position: fixed;
    z-index: 999;
    right: 1.5em;
    padding: 0.2rem;
    bottom: 2em;
    border: 2px solid #7a00bb;
    background: var(--light-bg);
}
