:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    font-family: "Inter", sans-serif;
}

#inBody {
    display: grid;
    height: 1500px;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr /* < main */ 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "footer footer footer footer";
    grid-gap: 0.2rem;
    text-transform: uppercase;
    color: #494949;
    text-align: center;
}

nav {
    background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    background: #ffffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    position: relative;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.5rem;
}

#sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
}
#sidebar i {
    height: 3rem;
    cursor: pointer;
    margin-top: 0.2rem;
    font-size: 2rem;
}
#sidebar i span {
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.2rem;
}
#toggleSidebarBtn {
    font-size: 1.5rem;
}

.neupm {
        -webkit-appearance: none;
        /* border-radius: 21px; */
    background: #ffffff;
    border-radius: 10px;
box-shadow:  6px 6px 12px #ededed,
             -6px -6px 12px #ededed;
    }
main div {
    padding: 1rem;
}
@media only screen and (min-width: 1000px) {
    #toggleSidebarBtn {
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    #inBody {
        grid-template-columns: 0.2fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1.5fr 1.2fr 0.8fr;
        grid-template-areas:
            "nav nav nav nav"
            "sidebar main main main"
            "sidebar content1 content2 content3"
            "footer footer footer footer";
    }

    #inBody.openSidebar {
        grid-template-columns: 0.4fr 1fr 1fr 1fr;
    }
}


@media only screen and (max-width: 550px) {
    #inBody {
        grid-template-columns: 0.2fr 2fr;
        grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "nav nav"
            "sidebar main"
            "sidebar content1"
            "sidebar content2"
            "sidebar content3"
            "footer footer";
    }

    #inBody.openSidebar {
        grid-template-columns: 1fr 2fr;
    }
    #sidebar i span {
        font-size: 1rem;
    }
    #sidebar i {
        margin-left: 0.3rem;
    }
    #sidebar i span.noview {
        font-size: 0;
        margin: 0;

    }
}
.cartDiv {
    margin: 0.2rem;
    position: relative;
    width: 25rem;
}