<!-- footer section Start -->
<footer class="blog-footer">
    <!-- Section: Social media -->
        <section class="pb-4 pt-4 text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://m.facebook.com/titgroupbhopal/"
                role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://mobile.twitter.com/TechnocratsTIT"
                role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://technocratsgroup.edu.in/" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://instagram.com/technocratstitgroup?igshid=wi1mx7h4ic54" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/company/technocrats-group-of-institutions-bhopal" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
        </section>

        <!-- Section: Links  -->
    <section class="border-top">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-university fa-lg me-3"></i>TIT College
                    </h6>
                    <p>
                        Technocrats Group of Institutions is the oldest and largest NBA
                        Accredited Education group in central India. It is affiliated to
                        RGPV - Rajiv Gandhi Proudyogiki Vishwavidyalaya. The college is
                        ranked 97th for Engineering by Times 2018.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-globe fa-lg me-3"></i>Links
                    </h6>
                    <p>
                        <a target="_blank" href="http://titbhopal.net/admission-enquiry/" class="text-reset">Enquiry</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://titbhopal.net/placement/" class="text-reset">Placement</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://technocratsalumni.com/home/alumni_association" class="text-reset">Alumni</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://titbhopal.net/intake/" class="text-reset">Intake</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-id-card fa-lg me-3"></i>Contact
                    </h6>
                    <p>
                        <i class="fas fa-home me-3"></i>Anand Nagar, BHEL Bhopal-462021
                        Madhya Pradesh,India
                    </p>
                    <p class="text-break">
                        <i class="fas fa-envelope me-3"></i>
                        <a href="mailto:admission@technocratsgroup.edu.in">admission@technocratsgroup.edu.in</a>
                    </p>
                    <p><i class="fas fa-phone me-3"></i> <a href="tel:+91 755 2751671">+91 755 2751671</a>, <a href="tel:2751679">2751679</a></p>
                    <p><i class="fas fa-print me-3"></i> 180030005303</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://technocratsgroup.edu.in/">Technocrats Institute of Technology</a>
        <p class="float-end"><a href="#">Back to top</a></p>
    </div>
    <!-- Copyright -->
</footer>
<!-- footer section End -->