{% load static %}
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-sidebar">
        <li class="logo">
            <a href="/{{ user.profile.type_url }}/profile/" class="sidebar-link">
                <span class="link-text logo-text">
                    {{user.username}}
                </span>
                <div class="icon">
                    <img src="{% static 'img/male.svg' %}" alt="">
                </div>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/{{ user.profile.type_url }}/profile/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-user-graduate fa-lg"></i>

                </div>
                <span class="link-text">Profile</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/{{ user.profile.type_url }}/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-tachometer-alt fa-lg"></i>

                </div>
                <span class="link-text">Dashboard</span>
            </a>
        </li>
        {% if user.profile.is_staff %}
        <li class="sidebar-item">
            <a href="/{{ user.profile.type_url }}/students/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-user-graduate fa-lg"></i>

                </div>
                <span class="link-text">Students</span>
            </a>
        </li>
        {% endif %}

        {% if user.profile.is_hod %}
        <li class="sidebar-item">
            <a href="/{{ user.profile.type_url }}/add-teacher/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i>

                </div>
                <span class="link-text">Add teacher</span>
            </a>
        </li>
        {% endif %}

        {% if user.profile.is_director %}
        <li class="sidebar-item">
            <a href="/{{ user.profile.type_url }}/add-hod/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-user-shield fa-lg"></i>

                </div>
                <span class="link-text">Add hod</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/{{ user.profile.type_url }}/add-teacher/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i>

                </div>
                <span class="link-text">Add teacher</span>
            </a>
        </li>
        {% endif %}

        <li class="sidebar-item">
            <a href="/{{user.profile.type_url}}/classes/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-chalkboard fa-lg"></i>


                </div>
                <span class="link-text">Classes</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/{{user.profile.type_url}}/notes/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-pen-square fa-lg"></i>


                </div>
                <span class="link-text">Notes</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/{{user.profile.type_url}}/attendance/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-clipboard-list fa-lg"></i>

                </div>
                <span class="link-text">Attendance</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/{{user.profile.type_url}}/notices/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-exclamation-circle fa-lg" aria-hidden="true"></i>

                </div>
                <span class="link-text">Notices</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/{{user.profile.type_url}}/marks/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-poll fa-lg"></i>

                </div>
                <span class="link-text">Marks</span>
            </a>
        </li>

        {% if user.profile.is_student %}
        <li class="sidebar-item">
            <a href="/{{user.profile.type_url}}/library/" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-book fa-lg"></i>

                </div>
                <span class="link-text">Library</span>
            </a>
        </li>
        {% endif %}

        <li class="sidebar-item" id="themeButton">
            <a class="sidebar-link">
                <div class="icon">

                </div>
                <span class="link-text"></span>
            </a>
        </li>
    </ul>
</aside>
