{% load static %}
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-sidebar">
        <li class="logo">
            <a class="sidebar-link">
                <span class="link-text logo-text">
                    {% if user.is_authenticated %} {{user.username}} {% endif %}
                </span>
                <div class="icon">
                    <img src="{% static 'img/male.svg' %}" alt="" srcset="">
                </div>
            </a>
        </li>

        {% if user.profile.is_student %}
        <li class="sidebar-item">
            <a href="classes" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i>


                </div>
                <span class="link-text">Classes</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="attendance" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-clipboard-list fa-lg"></i>

                </div>
                <span class="link-text">Attendance</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="marks" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-poll fa-lg"></i>

                </div>
                <span class="link-text">Marks</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="library" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-book fa-lg"></i>

                </div>
                <span class="link-text">Library</span>
            </a>
        </li>
        {% endif %}

        {% if user.profile.is_teacher %}
        <li class="sidebar-item">
            <a href="classes" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i>


                </div>
                <span class="link-text">Classes</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="attendance" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-clipboard-list fa-lg"></i>

                </div>
                <span class="link-text">Attendance</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="marks" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-poll fa-lg"></i>

                </div>
                <span class="link-text">Marks</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="library" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-book fa-lg"></i>

                </div>
                <span class="link-text">Library</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="add-student" class="sidebar-link">
                <div class="icon">
                    <i class="fas fa-user-plus fa-lg"></i>

                </div>
                <span class="link-text">Add Student</span>
            </a>
        </li>
        {% endif %}


        <li class="sidebar-item" id="themeButton">
            <a href="#" class="sidebar-link">
                <div class="icon">

                </div>
                <span class="link-text"></span>
            </a>
        </li>
    </ul>
</aside>
