{% load static %}
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-sidebar">
        <li class="logo">
            <a class="sidebar-link">
                <span class="link-text logo-text">
                    <img src="{% static 'img/male.svg' %}" alt="" srcset="">
                </span>
                <div class="icon">
                    👉️
                </div>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <div class="icon">
                    🏛️

                </div>
                <span class="link-text">Classes</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <div class="icon">
                    🏛️

                </div>
                <span class="link-text">Attendance</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <div class="icon">
                    🏛️

                </div>
                <span class="link-text">Marks</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <div class="icon">
                    🏛️

                </div>
                <span class="link-text">Library</span>
            </a>
        </li>

        <li class="sidebar-item" id="themeButton">
            <a href="#" class="sidebar-link">
                <div class="icon">
                    
                </div>
                <span class="link-text"></span>
            </a>
        </li>
    </ul>
</aside>