{% extends 'main/base.html' %}
{% block title %}Students Marks{% endblock title %}
{% block description %}Students Marks{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->

<div class="container-fluid mt-5">
    <h4 class="text-center alert alert-info"><small>Sem: {{ data.semester }} {{ data.branch }} Students </small></h4>

    <!-- <div class="d-flex justify-content-end mb-2">
        <a onclick="exportData()" class="btn btnPrAnim border border-primary">Export to excel</a>
    </div> -->


    <form action="" method="GET">
        <div class="d-flex justify-content-around flex-wrap p-2 neupm2-sm">
            <div class="p-2">
                <label for="fromDate">Date from: </label>
                <input type="date" name="fromDate" id="fromDate" value="{{ data.fromDate}}">
            </div>

            <div class="p-2">
                <label for="toDate">Date to: </label>
                <input type="date" name="toDate" id="toDate" value="{{ data.toDate}}">
            </div>

            <div class="p-2">
                <label for="sem">Sem:</label>
                <select name="semSelect" id="sem">
                    {% for s in data.semesters %}
                    <option value="{{s}}"> {{s}}</option>

                    {% endfor %}
                </select>
            </div>

            {% if user.profile.is_director %}
            <div class="p-2">
                <label for="branch">Branch:</label>

                <select name="branchSelect" id="branch">
                    {% for b in data.branches %}
                    <option value="{{b}}">{{b}}</option>

                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="p-2">
                <label for="export">In xls:</label>
                <input type="checkbox" name="export" id="export">
            </div>

            <button type="submit" class="btn btn-primary">Fetch</button>
        </div>
    </form>

    <div class="d-flex">
        <table class="table table-striped neupm2 mt-2 ms-0" id="attendanceDataTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Enrollment</th>
                    <th>Name</th>
                    <th>%</th>
                </tr>
            </thead>
            {% comment %}
            <tfoot>
                <tr>
                    <th> ={{ data.attendance|length }}</th>
                    <th>Enroll</th>
                    <th>%</th>
                </tr>
            </tfoot>
            {% endcomment %}
            <tbody>

                {% for at in data.attendance %}
                <tr onclick="showModal({ student: {enrollment:'{{at.0}}', name:'{{at.1}}'}, result: '{{ at.2 }}'})">
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{at.0}}</td>
                    <td> {{at.1}}</td>
                    <td> {{at.2}}</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>

    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" id="student-result" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <a href="#" class="student-profile">
                        <button type="button" class="btn btn-primary">View Profile</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    this.sem.value = '{{ data.semester }}';
    if (this.branch)
        this.branch.value = '{{ data.branch }}';


    function showModal({ student, result }) {
        var studentLink = document.querySelector("a.student-profile")
        studentLink.setAttribute("href", '/staff/students/' + student.enrollment + '/');
        document.getElementById("exampleModalLabel").innerHTML = 'Enroll: ' + student.enrollment + '\n Name: '+student.name;
        document.getElementsByClassName("modal-body")[0].innerHTML = "Attendance: " + result
        var myModal = new bootstrap.Modal(document.getElementById('student-result'))
        myModal.show()
    }
</script>
{% endblock body %}
