{% extends 'main/base.html' %} {% block title %} Classes {% endblock title %}
 {% block description %}Classes{% endblock description %} {% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
<marquee behavior="scroll" direction="left">
    <h1>This is Classes Page</h1>
</marquee>

<marquee behavior="scroll" direction="right">
    <h1>Kyu Hala Dala Na   </h1>
</marquee>

<marquee behavior="alternate" direction="right">
<img src="//www.html.am/images/html-codes/marquees/bee.gif" alt="Buzzy bee">
</marquee>


{% endblock body %}
