{% extends 'main/base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block description %}blog page{% endblock description %}

{% block homeActive %}active{% endblock homeActive %}
{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->
<div class="d-flex w-100 justify-content-center mt-5 align-items-center alert alert-info">
    <form action="" method="GET">
        <div class="d-flex justify-content-around">

            <div class="p-2">
                <label for="semester">Select semester:</label>
                <select name="semester" id="semester" @mounted="$el.value = {{request.data.semester}}"
                    @change="document.querySelector('form').submit()">
                    {% for s in request.data.semesters %}
                    <option value="{{s}}" {% if s == request.data.semester %} selected {% endif %}>{{s}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="p-2">
                <label for="branch">Select branch:</label>
                <select name="branch" id="branch" @mounted="$el.value = '{{request.data.branch}}'"
                    @change="document.querySelector('form').submit()">
                    {% for b in request.data.branches %}
                    <option value="{{b}}">{{b}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
</div>


<div class="container-sm row mt-0">
    <div class="col-lg-6">
        <h4 class="text-center alert alert-info">Classes</h4>

        {% for class in request.data.classes %}
        <div class="d-flex flex-column neupm2 mb-3">
            <div class="d-flex flex-row p-2 justify-content-between flex-wrap pb-0">
                <div>
                    <b>{{ class.subject|title}}</b>
                    <br>
                    <i>By:</i>
                    <small class="text-primary">
                        <a>{{ class.tutor|title }}</a>
                    </small>
                </div>
                <div>
                    <p>{{ class.date }}</p>
                    <p>Time:- {{ class.start_time }} - {{ class.end_time }} </p>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-end pe-2 ps-2">
                <div><a href="{{ class.url }}"><button
                            class="btn btn-outline-secondary ms-2 pt-1 pb-1">Join</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-lg-6 mb-5">
        <h4 class="text-center alert alert-info">Notices</h4>

        <div class="list-group">
            {% for d in request.data.notices %}
            <a href="/{{user.profile.type_url}}/notices/{{ d.id }}/"
                class="list-group-item list-group-item-action flex-column align-items-start mt-2 container neupm2"
                style="height: 6rem; overflow: hidden;">
                <div class="d-flex w-100 justify-content-between">
                    <b class="mb-1">{{ d.title }} {{ d.topic }} <br><small>{{ d.subject }}</small></b>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">{{ d.created_by }}</small>
                    <small class="text-muted">{{ d.modified_at|date }}</small>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
