{% extends 'main/base.html' %}
{% block title %}
notification
{% endblock title %}

{% block description %}Notification{% endblock description %}

{% block body %}
{% block message %}{% endblock message %}
<!-- main section -->

{% load static %}
<div class="container mt-3">
  <div class="d-flex flex-column neupm2 mb-3">
    <div class="d-flex flex-row p-2 justify-content-between">
      <div>
        <h4>Lorem ipsum dolor sit amet.</h4>
      </div> 
      <div><p>25/06/2021.</p></div></div>

    <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>
<div class="d-flex flex-column neupm2 mb-3">
  <div class="d-flex flex-row p-2 justify-content-between">
    <div>
      <h4>Lorem ipsum dolor sit amet.</h4>
    </div> 
    <div><p>25/07/2021.</p></div></div>

  <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>
<div class="d-flex flex-column neupm2 mb-3">
  <div class="d-flex flex-row p-2 justify-content-between">
    <div>
      <h4>Lorem ipsum dolor sit amet.</h4>
    </div> 
    <div><p>25/06/2021</p></div></div>

  <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>
<div class="d-flex flex-column neupm2 mb-3">
  <div class="d-flex flex-row p-2 justify-content-between">
    <div>
      <h4>Lorem ipsum dolor sit amet.</h4>
    </div> 
    <div><p>28/05/2021.</p></div></div>

  <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>
<div class="d-flex flex-column neupm2 mb-3">
  <div class="d-flex flex-row p-2 justify-content-between">
    <div>
      <h4>Lorem ipsum dolor sit amet.</h4>
    </div> 
    <div><p>28/05/2001</p></div></div>

  <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>
<div class="d-flex flex-column neupm2 mb-3">
  <div class="d-flex flex-row p-2 justify-content-between">
    <div>
      <h4>Lorem ipsum dolor sit amet.</h4>
    </div> 
    <div><p>25/06/2020</p></div></div>

  <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>
<div class="d-flex flex-column neupm2 mb-3">
  <div class="d-flex flex-row p-2 justify-content-between">
    <div>
      <h4>Lorem ipsum dolor sit amet.</h4>
    </div> 
    <div><p>13/05/2020.</p></div></div>

  <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut deserunt vel similique ab sed iure nihil minima corporis nisi!</div>

</div>

 

</div>
  

      

{% endblock body %}